@page "/"
@namespace SimpleRuleBlazor.Components.Layout




        <div class="home-hero-desktop">
            <div class="w-container">
                <div class="c-heroheader__top">
                    <h1 class="c-herohome-header">
                        MAKE. US.<br/>YOUR. CONCIERGE.
                    </h1>
                    <h2 class="c-herohome_subheader">Your go-to test message companion for quick-info &amp; useful tools <br/> while flying Light</h2>
                    <div class="position-relative">
                        <div class="u-flex">
                            <a href="#" data-w-id="ea1fb295-5509-c865-16ea-f1098f663d3c" class="c-primary-btn is--large modal-trigger w-button">START FREE TRIAL</a>
                        </div>
                        <div class="svg-home_000">
                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b322fbc7ebaeec5c75_swirly-arrow-white.svg" loading="eager" width="200" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-hero-mobile">
            <div class="w-container">
                <div class="c-hero__top">
                    <h1 class="c-hero_header">
                        MAKE. US.<br/> YOUR> CONCIERGE.
                    </h1>
                    <h2 class="c-hero_subheader">Your go-to test message companion for quick-info &amp; useful tools <br/> while flying Light</h2>
                    <div class="position-relative">
                        <div class="u-flex">
                            <a href="#" data-w-id="d7871bd3-73dc-5e20-249e-b7e6f182b965" class="c-primary-btn is--large modal-trigger w-button">START FREE TRIAL</a>
                        </div>
                        <div class="svg-home_000">
                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b322fbc7ebaeec5c75_swirly-arrow-white.svg" loading="eager" width="200" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <div class="w-container">
                <div class="u-margin-top is--48">
                    <h3 class="u-align-center">Choose Your Unplug Motivator</h3>
                </div>
            </div>
            <div class="tab-dropdown">
                <div>Pick a Program</div>
                <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6019f1f81e7c53484fd771f7_chevron-down-blue.svg" loading="lazy" alt=""/>
            </div>
            <div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
                <div class="c-tabs_menu w-tab-menu">
                    <a data-w-tab="Medical" class="c-program_tab_med w-inline-block w-tab-link w--current">
                        <div>
                            <span class="medical">Focus</span>
                        </div>
                    </a>
                    <a data-w-tab="MCAT" class="c-program_tab_mcat w-inline-block w-tab-link">
                        <div>Time</div>
                    </a>
                    <a data-w-tab="PA" class="c-program_tab_pa w-inline-block w-tab-link">
                        <div>Fatiuge</div>
                    </a>
                    <a data-w-tab="Pharm" class="c-program_tab_pharm w-inline-block w-tab-link">
                        <div>Melatonin Cycle</div>
                    </a>
                    <a data-w-tab="Nursing" class="c-program_tab_nursing w-inline-block w-tab-link">
                        <div>Economical</div>
                    </a>
                </div>
                <div class="u-background-light-blue w-tab-content">
                    <div data-w-tab="Medical" class="w-tab-pane w--tab-active">
                        <div class="w-container">
                            <div data-w-id="Div Block 4" class="position-relative">
                                <div class="u-margin-y is--48">
                                    <div data-duration-in="300" data-duration-out="100" class="u-flex is--ver w-tabs">
                                        <div class="c-tabs_med w-tab-menu">
                                            <a data-w-tab="Step 1" class="c-tabs_step1 w-inline-block w-tab-link w--current">
                                                <div>JUST TEXT / BASIC</div>
                                            </a>
                                            <a data-w-tab="Step 2" class="c-tabs_step2 w-inline-block w-tab-link">
                                                <div>TEXT + IMAGES / PLUS</div>
                                            </a>
                                        </div>
                                        <div class="w-tab-content">
                                            <div data-w-tab="Step 1" class="w-tab-pane w--tab-active">
                                                <div class="u-padding-y is--24">
                                                    <div class="u-flex is--ver">
                                                        <h3 class="c-program_course">Like Texting Google</h3>
                                                        <h4>
                                                            JUST TEXT  |  SIMPLE RULE
                                                        </h4>
                                                        <div class="w-layout-grid c-program_features">
                                                        <div id="w-node-_2ca56d40-3a41-48dc-f69c-ef599d404b6d-b006e859" class="c-program_feature">
                                                            <img src="images/thumbs-up.svg" loading="lazy" alt="" class="c-program_image"/>
                                                            <p class="c-program_caption">Stay focused and on task, without the usual smartphone distractions</p>
                                                        </div>
                                                        <div id="w-node-_2ca56d40-3a41-48dc-f69c-ef599d404b71-b006e859" class="c-program_feature">
                                                            <img src="images/grad-cap.svg" loading="lazy" alt="" class="c-program_image"/>
                                                            <p class="c-program_caption">Learn on the go with simple SMS access to Simple Rule's service</p>
                                                        </div>
                                                        <div id="w-node-_2ca56d40-3a41-48dc-f69c-ef599d404b75-b006e859" class="c-program_feature">
                                                            <img src="images/bulb-black.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                                            <p class="c-program_caption">Get quick, clear answers to questions – no app needed</p>
                                                        </div>
                                                        <div id="w-node-_2ca56d40-3a41-48dc-f69c-ef599d404b79-b006e859" class="c-program_feature">
                                                            <img src="images/microscope.svg" loading="lazy" alt="" class="c-program_image"/>
                                                            <p class="c-program_caption">Effortlessly access information while staying in control of your time</p>
                                                        </div>
                                                    </div>
                                                        <div class="w-layout-grid c-program_stats">
                                                            <!-- Enter Phone Number Here -->
                                                            <a id="w-node-_2ca56d40-3a41-48dc-f69c-ef599d404baf-b006e859" href="/web/20210504080548/https://www.sketchy.com/explore/medical-pre-clinical" class="c-primary-btn is--large is--med w-button">LEARN MORE + PRICING</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-w-tab="Step 2" class="w-tab-pane">
                                                <div class="u-padding-y is--24">
                                                    <div class="u-flex is--ver">
                                                        <h3 class="c-program_course">Medical</h3>
                                                        <h4>
                                                            MS3 &amp;MS4  |  USMLE<span class="copyright">®</span>
                                                            Step 2
                                                        </h4>
                                                        <div class="w-layout-grid c-program_features">
                                                            <div id="w-node-_1990f25b-8b51-13af-009a-739964db1a63-b006e859" class="c-program_feature">
                                                                <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b18cfe6ed3c00ea29de9f_graph.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                                                <p class="c-program_caption">Score higher on the USMLE Step 2 with dramatically less effort and significantly more fun</p>
                                                            </div>
                                                            <div id="w-node-_1990f25b-8b51-13af-009a-739964db1a67-b006e859" class="c-program_feature">
                                                                <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b18cf178859658fd5de85_grad-cap-02.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                                                <p class="c-program_caption">Master your Medical School studies whether in the classroom or on rotations</p>
                                                            </div>
                                                            <div id="w-node-_1990f25b-8b51-13af-009a-739964db1a6b-b006e859" class="c-program_feature">
                                                                <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b40d99675e3fc73fd5_rocket.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                                                <p class="c-program_caption">Mobile-friendly platform allows you to take your studies with you</p>
                                                            </div>
                                                            <div id="w-node-_1990f25b-8b51-13af-009a-739964db1a6f-b006e859" class="c-program_feature">
                                                                <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/600f1da7877250587883c9a5_stethoscope.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                                                <p class="c-program_caption">Clinical subjects include Internal Medicine, Pediatrics, Surgery, and Ob/Gyn</p>
                                                            </div>
                                                        </div>
                                                        <div class="w-layout-grid c-program_stats_02">
                                                            <!-- Enter Phone Number Here -->
                                                        <a href="/web/20210504080548/https://www.sketchy.com/explore/medical-clinical" class="c-primary-btn is--large is--med w-button">LEARN MORE + PRICING</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="svg-home_001">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b1bd08eea3074907c5cef_dotted-line-blue.svg" loading="eager" width="550" alt=""/>
                                </div>
                                <div class="svg-home_002">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b127be8686683243250c9_pluses-07-blue.svg" loading="eager" width="225" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="MCAT" class="w-tab-pane">
                        <div class="u-padding-y is--32 w-container">
                            <div data-w-id="Div Block 22" class="position-relative">
                                <div class="svg-home_025">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b4f9de258539de2ffeb65_curved-arrow.svg" loading="eager" alt=""/>
                                </div>
                                <div class="svg-home_026">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b4f9ec40a3d2d932bd30e_stars-teal.svg" loading="eager" width="250" alt=""/>
                                </div>
                                <div class="u-flex is--ver">
                                    <h3 class="c-program_course">MCAT</h3>
                                    <h5>
                                        <span class="badge-large is--black">COMING SOON</span>
                                    </h5>
                                    <div class="u-flex">
                                        <div class="c-email_collection">
                                            <h4>
                                                Get a promo code when we launch Sketchy MCAT<span class="copyright">®</span>
                                            </h4>
                                            <div class="u-padding-y is--32 w-embed w-script">
                                                <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
                                                <script charset="utf-8" type="text/javascript" src="//web.archive.org/web/20210504080548js_/https://js.hsforms.net/forms/v2.js"></script>
                                                <script>
                                                    hbspt.forms.create({
                                                        portalId: "9337792",
                                                        formId: "b024c496-bf16-4fcf-ac9e-b5ff0091d2dc"
                                                    });
                                                </script>
                                            </div>
                                            <p class="is--center">Click &quot;Submit &quot;to opt-in to receiving emails about Sketchy MCAT</p>
                                        </div>
                                    </div>
                                    <div class="w-layout-grid c-program_features">
                                        <div id="w-node-efb48404-047e-a068-6c45-3813a55e568a-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/60301e3e5ee8ea4c2e15b9d0_trophy-1-black.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Score higher on the MCAT with less effort and more fun</p>
                                        </div>
                                        <div id="w-node-efb48404-047e-a068-6c45-3813a55e568e-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/60300e16654ebd8929b65701_calendar-black.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">New MCAT Program just in time for 2021 MCAT Testing Dates</p>
                                        </div>
                                        <div id="w-node-efb48404-047e-a068-6c45-3813a55e5692-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/60301e3e5c2591e74cadad50_atom-black.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Includes lessons on high-yield MCAT content from Biochemistry and Biology — other MCAT sciences on the way</p>
                                        </div>
                                        <div id="w-node-efb48404-047e-a068-6c45-3813a55e5696-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/60301e3db7b842782839eea5_cycle-black.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Continuous content updates through spring and summer 2021, including Chemistry, Physics, Psychology/Sociology, and more</p>
                                        </div>
                                    </div>
                                    <div class="w-layout-grid c-program_stats_02">
                                        <!-- Enter Phone Number Here -->
                                    <a href="/web/20210504080548/https://www.sketchy.com/explore/mcat" class="c-primary-btn is--large is--mcat w-button">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="PA" class="w-tab-pane">
                        <div class="u-padding-y is--32 w-container">
                            <div data-w-id="Div Block 24" class="position-relative">
                                <div class="svg-home_027">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b5025094bca50a3d1ac9f_diamond-doodles-03-violet.svg" loading="eager" width="125" alt=""/>
                                </div>
                                <div class="svg-home_028">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b50251bbe4e70808fc425_diamond-doodles-02-violet.svg" loading="eager" width="125" alt=""/>
                                </div>
                                <div data-w-id="Div Block 19" class="u-flex is--ver">
                                    <h3 class="c-program_course">PA</h3>
                                    <h5>
                                        <span class="badge-large is--black">COMING SOON</span>
                                    </h5>
                                    <div class="u-flex">
                                        <div class="c-email_collection">
                                            <h4>Get a promo code when we launch Sketchy PA</h4>
                                            <div class="u-padding-y is--32 w-embed w-script">
                                                <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
                                                <script charset="utf-8" type="text/javascript" src="//web.archive.org/web/20210504080548js_/https://js.hsforms.net/forms/v2.js"></script>
                                                <script>
                                                    hbspt.forms.create({
                                                        portalId: "9337792",
                                                        formId: "13cd3517-a202-4ad1-986b-825b35dfad78"
                                                    });
                                                </script>
                                            </div>
                                            <p class="is--center">Click &quot;Submit &quot;to opt-in to receiving emails about Sketchy PA</p>
                                        </div>
                                    </div>
                                    <div class="w-layout-grid c-program_features">
                                        <div id="w-node-_845dd14f-ba38-5de6-e771-a3beb8e593ee-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602337362a8eeb60b6dcda8c_award.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Crush the PANCE® while having fun and getting smarter</p>
                                        </div>
                                        <div id="w-node-_845dd14f-ba38-5de6-e771-a3beb8e593f2-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602337366c6ed069873435ce_star-01.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Excel through through didactics, shine at clinicals</p>
                                        </div>
                                        <div id="w-node-_845dd14f-ba38-5de6-e771-a3beb8e593f6-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6023373615fe07ebee23cb07_case.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Subjects include: Pharmacology, Internal Medicine, Surgery, and Pediatrics</p>
                                        </div>
                                        <div id="w-node-_845dd14f-ba38-5de6-e771-a3beb8e593fa-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/603d943b9c83b219905b3f0a_system-black.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Extensive systems reviews in: Cardiology, pulmonology, GI, Endocrine, and more</p>
                                        </div>
                                    </div>
                                    <div class="w-layout-grid c-program_stats_02">
                                        <!-- Enter Phone Number Here -->
                                    <a href="/web/20210504080548/https://www.sketchy.com/explore/pa" class="c-primary-btn is--large is--pa w-button">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="Pharm" class="w-tab-pane">
                        <div class="u-padding-y is--32 w-container">
                            <div class="position-relative">
                                <div class="svg-home_028">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b50b6d490c66a7cb62348_pluses-08-pink.svg" loading="eager" width="200" alt=""/>
                                </div>
                                <div class="svg-home_029">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b50b632c4a108559e8444_hearts-pink.svg" loading="eager" width="150" alt=""/>
                                </div>
                                <div class="u-flex is--ver">
                                    <h3 class="c-program_course">PharmD</h3>
                                    <h5>
                                        <span class="badge-large is--black">COMING SOON</span>
                                    </h5>
                                    <div class="u-flex">
                                        <div class="c-email_collection">
                                            <h4>Get a promo code when we launch Sketchy Pharmacy</h4>
                                            <div class="u-padding-y is--32 w-embed w-script">
                                                <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
                                                <script charset="utf-8" type="text/javascript" src="//web.archive.org/web/20210504080548js_/https://js.hsforms.net/forms/v2.js"></script>
                                                <script>
                                                    hbspt.forms.create({
                                                        portalId: "9337792",
                                                        formId: "4b2c5734-95c4-4046-afc6-345ffccf21f4"
                                                    });
                                                </script>
                                            </div>
                                            <p class="is--center">Click &quot;Submit &quot;to opt-in to receiving emails about Sketchy Pharmacy</p>
                                        </div>
                                    </div>
                                    <div class="w-layout-grid c-program_features">
                                        <div id="w-node-d523f2c3-a156-b008-eaf8-7c2c83df4571-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6023373682cdeb9046a3aabf_star-02.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Score higher on the PCOA® and NAPLEX® have fun while you do it</p>
                                        </div>
                                        <div id="w-node-d523f2c3-a156-b008-eaf8-7c2c83df4575-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/60233736a86b90b765b991cd_books.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Master complex topics throughout Pharmacy School</p>
                                        </div>
                                        <div id="w-node-d523f2c3-a156-b008-eaf8-7c2c83df4579-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6023373639eea83d51676170_flask.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Foundational subjects include Microbiology, Pharmacology, Pharmacokinetics and Biochemistry</p>
                                        </div>
                                        <div id="w-node-d523f2c3-a156-b008-eaf8-7c2c83df457d-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/60233736e958308a75cd1703_mortar.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Pharmacy practice subjects include Biostatistics and Epidemiology, Compounding, Calculations and Primary Care</p>
                                        </div>
                                    </div>
                                    <div class="w-layout-grid c-program_stats">
                                       <!-- Enter Phone Number Here -->
                                        <a id="w-node-f0bc4e45-9b37-119a-35b9-8fbce886121e-b006e859" href="/web/20210504080548/https://www.sketchy.com/explore/pharmacy" class="c-primary-btn is--large is--pharm w-button">LEARN MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="Nursing" class="w-tab-pane">
                        <div class="u-padding-y is--32 w-container">
                            <div class="position-relative">
                                <div class="svg-home_023">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b11d779768093335555c2_droplets-01-navy.svg" loading="eager" width="180" alt=""/>
                                </div>
                                <div class="svg-home_024">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b11d727b0736b90bf9839_droplets-02-navy.svg" loading="eager" width="180" alt=""/>
                                </div>
                                <div data-w-id="Div Block 21" class="u-flex is--ver">
                                    <h3 class="c-program_course is--nursing">Nursing</h3>
                                    <div class="w-layout-grid c-program_features">
                                        <div id="w-node-_989d1659-1f8d-166d-dd33-60ef5268e7d3-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b427b07395c4bf95c2_alarm-clock.svg" loading="lazy" width="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Learn about Pharmacology with our Sketchy videos in thirty minutes or less</p>
                                        </div>
                                        <div id="w-node-_989d1659-1f8d-166d-dd33-60ef5268e7d7-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b40d99675e3fc73fd5_rocket.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Score higher on your Pharmacology tests with less effort and more fun</p>
                                        </div>
                                        <div id="w-node-_989d1659-1f8d-166d-dd33-60ef5268e7db-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b418ed69583ec34f08_thermometer.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Master your Pharmacology studies and apply them in clinical settings</p>
                                        </div>
                                        <div id="w-node-_989d1659-1f8d-166d-dd33-60ef5268e7df-b006e859" class="c-program_feature">
                                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b3cb15dddd79315333_checkmark.svg" loading="lazy" height="56" alt="" class="c-program_image"/>
                                            <p class="c-program_caption">Take on your QBANK quizzes and prep for your NCLEX®</p>
                                        </div>
                                    </div>
                                    <div class="w-layout-grid c-program_stats-03">
                                        <!-- Enter Phone Number Here -->
                                    <a href="/web/20210504080548/https://www.sketchy.com/explore/nursing" target="_blank" class="c-primary-btn is--large is--nursing w-button">LEARN MORE + PRICING</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div>
            <div class="w-container">
                <div>
                    <div class="w-layout-grid block-text-image">
                    <img src="images/light-phone-home.webp" alt="Light Phone Lock Screen" class="u-margin-top is--24" />
                        <div class="u-margin-y is--48">
                            <h3>79% of users prefer Light Phone for its simplicity</h3>
                            <p class="p-large">Light Phone is built for a distraction-free experience, helping you stay connected without the noise.</p>
                            <p class="p-large">With an intuitive design, it focuses on what matters: essential tools that keep you productive and present. Designed from the ground up to prioritize the user's wellbeing over the wellbeing of a companies stock price. </p>
                            <p class="p-large">Stay in control of your time. With Light Phone and Simple, experience a simple, powerful way to stay connected – free from endless distractions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-background-blob">
            <div class="w-container">
                <div class="position-relative">
                    <div class="u-margin-top is--48 w-clearfix">
                        <h3 class="is--center">The Disconnect Movement</h3>
                        <div class="svg-home_005">
                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/600f1f13e6bcf179cd36f253_pencil.svg" loading="eager" width="120" alt=""/>
                        </div>
                        <div class="svg-home_004">
                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/600f1f8ab4d13ff40e915282_asterisks.svg" loading="eager" width="120" alt=""/>
                        </div>
                        <div class="svg-home_003">
                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/600f1da6f9a86e45d8629c70_exclamation.svg" loading="eager" width="120" alt=""/>
                        </div>
                        <div class="u-margin-y is--48">
                            <div class="w-layout-grid c-home_features">
                                <div id="w-node-_069eb276-bde9-e9fa-1655-0df8ca4b5657-b006e859" class="u-flex is--hor align--top">
                                    <div>
                                        <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6021d73fb7b5622684595429_number-one.svg" loading="lazy" height="" width="100" alt="" class="c-feature_num"/>
                                    </div>
                                    <div class="c-feature_desc">
                                        <div>
                                            <h5>Ask Anything</h5>
                                            <p class="p-large">Get quick answers through simple texts with Simple Rule. Stay informed without the need for apps or browsers.</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="w-node-_14e41fa7-3e1f-584c-2ba6-4b69dfe1d96b-b006e859" class="c-landing-video">
                                    <img src="images/hand-drawn-light-phone-III.svg" loading="lazy" width="983" height="" alt="" class="z-index is--middle"/>
                                    <div class="u-video-01">
                                        <div class="w-embed">
                                            <video autoplay loop height="81%" width="81%">
                                                <source src="images/thumbs-up.svg" type="video/mp4"/>
                                                <source src="images/thumbs-up.svg" type="video/webm"/>
                                            </video>
                                        </div>
                                    </div>
                                </div>
                                <div id="w-node-d6183f5f-62c9-b3bf-bf69-6a82897780d1-b006e859" class="c-landing-video">
                                    <img src="images/hand-drawn-light-phone-III.svg" loading="lazy" width="983" height="" alt="" class="z-index is--middle"/>
                                    <div class="u-video-01">
                                        <div class="w-embed">
                                            <video autoplay loop height="81%" width="81%">
                                                <source src="images/thumbs-up.svg" type="video/mp4"/>
                                                <source src="images/thumbs-up.svg" type="video/webm"/>
                                            </video>
                                        </div>
                                    </div>
                                </div>
                                <div id="w-node-f36d3382-5504-9feb-a2c9-5b9dd080cb8e-b006e859" class="u-flex is--hor align--top">
                                    <div>
                                        <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6021d73f2fdb9e7aba16bc09_number-two.svg" loading="lazy" height="" width="100" alt="" class="c-feature_num"/>
                                    </div>
                                    <div class="c-feature_desc">
                                        <div>
                                            <h5>Explore Ideas</h5>
                                            <p class="p-large">From travel tips to cooking hacks, Simple Rule responds with easy-to-understand advice, straight to your Light Phone.</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="w-node-_285c61b6-2b94-38a7-7d1b-3ad71f83a201-b006e859" class="u-flex is--hor align--top">
                                    <div>
                                        <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6021d73fe583db8d22a6dae3_number-three.svg" loading="lazy" height="" width="100" alt="" class="c-feature_num"/>
                                    </div>
                                    <div class="c-feature_desc">
                                        <h5>Stay Focused</h5>
                                        <p class="p-large">No distractions – just the info you need, when you need it. Enjoy a streamlined experience that respects your time and attention.</p>
                                    </div>
                                </div>
                                <div id="w-node-f5e3d155-3717-bceb-0ac8-ec6a8418b8ba-b006e859" class="c-landing-video">
                                    <img src="images/hand-drawn-light-phone-III.svg" loading="lazy" width="983" height="" alt="" class="z-index is--middle"/>
                                    <div class="u-video-01">
                                        <div class="w-embed">
                                            <video autoplay loop height="81%" width="81%">
                                                <source src="images/thumbs-up.svg" type="video/mp4"/>
                                                <source src="images/thumbs-up.svg" type="video/webm"/>
                                            </video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="550" data-infinite="1" class="c-home_testimonials w-slider">
            <div class="u-background_color is--white w-slider-mask">
                <div class="w-slide">
                    <div class="u-flex_hor_center">
                        <div class="u-flex is--ver">
                            <div class="c-home_testimonial_entry">
                                <img src="quotations-blue.svg" loading="lazy" alt="" class="u-padding_bottom is--24"/>
                                <blockquote class="c-home_quote"> Simple Rule has been essential in allowing me to have the mental clarity and focus to graduate with honors – in biology.</blockquote>
                                <h5 class="is--center">
                                    <span class="text-color-blue">- Johnny Appleseed, Snow College </span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="w-slider-arrow-left">
                <div class="u-text-color is--black w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
                <div class="u-text-color is--black w-icon-slider-right"></div>
            </div>
            <div class="u-margin-y w-slider-nav w-round"></div>
        </div>


<div class="u-background-light-blue">
    <div class="u-padding-y is--56 w-container">
        <div class="w-layout-grid c-freetrial-01">
            <div>
                <img src=images/lines-01.svg loading="eager" alt="" class="display is--hide" />
            </div>
            <div class="u-max-width-500">
                <div class="u-flex is--ver">
                    <h3>Free Trial</h3>
                    <h5 class="is--center">Join Simple Rule today! No Commitment. No Credit Card Required.</h5>
                    <a href="https://forms.gle/ToPkcAxm4t76ZZPc7" target="_blank" rel="noopener noreferrer"
                        class="c-primary-btn is--large modal-trigger w-button">
                        START FREE TRIAL
                    </a>
                </div>
            </div>
            <div class="u-align is--center">
                <img src=images/lines-02.svg loading="eager" alt="" class="display is--hide" />
            </div>
        </div>
    </div>
</div>
