@namespace SimpleRuleBlazor.Components.HomePage

<div class="u-padding-y is--32 w-container">
    <div class="position-relative">
        <div class="svg-home_023">
            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b11d779768093335555c2_droplets-01-navy.svg"
                loading="eager" width="180" alt="" />
        </div>
        <div class="svg-home_024">
            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b11d727b0736b90bf9839_droplets-02-navy.svg"
                loading="eager" width="180" alt="" />
        </div>
        <div data-w-id="Div Block 21" class="u-flex is--ver">
            <h3 class="c-program_course is--nursing">Nursing</h3>
            <div class="w-layout-grid c-program_features">
                <div id="w-node-_989d1659-1f8d-166d-dd33-60ef5268e7d3-b006e859"
                    class="c-program_feature">
                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b427b07395c4bf95c2_alarm-clock.svg"
                        loading="lazy" width="56" alt="" class="c-program_image" />
                    <p class="c-program_caption">Learn about Pharmacology with our Sketchy videos in
                        thirty minutes or less</p>
                </div>
                <div id="w-node-_989d1659-1f8d-166d-dd33-60ef5268e7d7-b006e859"
                    class="c-program_feature">
                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b40d99675e3fc73fd5_rocket.svg"
                        loading="lazy" height="56" alt="" class="c-program_image" />
                    <p class="c-program_caption">Score higher on your Pharmacology tests with less
                        effort and more fun</p>
                </div>
                <div id="w-node-_989d1659-1f8d-166d-dd33-60ef5268e7db-b006e859"
                    class="c-program_feature">
                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b418ed69583ec34f08_thermometer.svg"
                        loading="lazy" height="56" alt="" class="c-program_image" />
                    <p class="c-program_caption">Master your Pharmacology studies and apply them in
                        clinical settings</p>
                </div>
                <div id="w-node-_989d1659-1f8d-166d-dd33-60ef5268e7df-b006e859"
                    class="c-program_feature">
                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b3cb15dddd79315333_checkmark.svg"
                        loading="lazy" height="56" alt="" class="c-program_image" />
                    <p class="c-program_caption">Take on your QBANK quizzes and prep for your NCLEX®
                    </p>
                </div>
            </div>
            <div class="w-layout-grid c-program_stats-03">
                <!-- Enter Phone Number Here -->
                <a href="/web/20210504080548/https://www.sketchy.com/explore/nursing" target="_blank"
                    class="c-primary-btn is--large is--nursing w-button">LEARN MORE
                    + PRICING</a>
            </div>
        </div>
    </div>
</div>