@namespace SimpleRuleBlazor.Components.HomePage

<div class="u-padding-y is--32 w-container">
    <div data-w-id="Div Block 24" class="position-relative">
        <div class="svg-home_027">
            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b5025094bca50a3d1ac9f_diamond-doodles-03-violet.svg"
                loading="eager" width="125" alt="" />
        </div>
        <div class="svg-home_028">
            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b50251bbe4e70808fc425_diamond-doodles-02-violet.svg"
                loading="eager" width="125" alt="" />
        </div>
        <div data-w-id="Div Block 19" class="u-flex is--ver">
            <h3 class="c-program_course">PA</h3>
            <h5>
                <span class="badge-large is--black">COMING SOON</span>
            </h5>
            <div class="u-flex">
                <div class="c-email_collection">
                    <h4>Get a promo code when we launch Sketchy PA</h4>
                    <div class="u-padding-y is--32 w-embed w-script">
                        <script charset="utf-8" type="text/javascript"
                            src="//web.archive.org/web/20210504080548js_/https://js.hsforms.net/forms/v2.js"></script>
                        <script>
                            hbspt.forms.create({
                                portalId: "9337792",
                                formId: "13cd3517-a202-4ad1-986b-825b35dfad78"
                            });
                        </script>
                    </div>
                    <p class="is--center">Click &quot;Submit &quot;to opt-in to receiving emails about
                        Sketchy PA</p>
                </div>
            </div>
            <div class="w-layout-grid c-program_features">
                <div id="w-node-_845dd14f-ba38-5de6-e771-a3beb8e593ee-b006e859"
                    class="c-program_feature">
                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602337362a8eeb60b6dcda8c_award.svg"
                        loading="lazy" height="56" alt="" class="c-program_image" />
                    <p class="c-program_caption">Crush the PANCE® while having fun and getting smarter
                    </p>
                </div>
                <div id="w-node-_845dd14f-ba38-5de6-e771-a3beb8e593f2-b006e859"
                    class="c-program_feature">
                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602337366c6ed069873435ce_star-01.svg"
                        loading="lazy" height="56" alt="" class="c-program_image" />
                    <p class="c-program_caption">Excel through through didactics, shine at clinicals</p>
                </div>
                <div id="w-node-_845dd14f-ba38-5de6-e771-a3beb8e593f6-b006e859"
                    class="c-program_feature">
                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6023373615fe07ebee23cb07_case.svg"
                        loading="lazy" height="56" alt="" class="c-program_image" />
                    <p class="c-program_caption">Subjects include: Pharmacology, Internal Medicine,
                        Surgery, and Pediatrics</p>
                </div>
                <div id="w-node-_845dd14f-ba38-5de6-e771-a3beb8e593fa-b006e859"
                    class="c-program_feature">
                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/603d943b9c83b219905b3f0a_system-black.svg"
                        loading="lazy" height="56" alt="" class="c-program_image" />
                    <p class="c-program_caption">Extensive systems reviews in: Cardiology, pulmonology,
                        GI, Endocrine, and more</p>
                </div>
            </div>
            <div class="w-layout-grid c-program_stats_02">
                <!-- Enter Phone Number Here -->
                <a href="/web/20210504080548/https://www.sketchy.com/explore/pa" target="_blank"
                    class="c-primary-btn is--large is--pa w-button">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>
