@namespace SimpleRuleBlazor.Components.HomePage

<div class="u-padding-y is--32 w-container">
    <div class="position-relative">
        <div class="svg-home_028">
            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b50b6d490c66a7cb62348_pluses-08-pink.svg"
                loading="eager" width="200" alt="" />
        </div>
        <div class="svg-home_029">
            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b50b632c4a108559e8444_hearts-pink.svg"
                loading="eager" width="150" alt="" />
        </div>
        <div class="u-flex is--ver">
            <h3 class="c-program_course">PharmD</h3>
            <h5>
                <span class="badge-large is--black">COMING SOON</span>
            </h5>
            <div class="u-flex">
                <div class="c-email_collection">
                    <h4>Get a promo code when we launch Sketchy Pharmacy</h4>
                    <div class="u-padding-y is--32 w-embed w-script">
                        <script charset="utf-8" type="text/javascript"
                            src="//web.archive.org/web/20210504080548js_/https://js.hsforms.net/forms/v2.js"></script>
                        <script>
                            hbspt.forms.create({
                                portalId: "9337792",
                                formId: "4b2c5734-95c4-4046-afc6-345ffccf21f4"
                            });
                        </script>
                    </div>
                    <p class="is--center">Click &quot;Submit &quot;to opt-in to receiving emails
                        about Sketchy Pharmacy</p>
                </div>
            </div>
            <div class="w-layout-grid c-program_features">
                <div id="w-node-d523f2c3-a156-b008-eaf8-7c2c83df4571-b006e859" class="c-program_feature">
                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6023373682cdeb9046a3aabf_star-02.svg"
                        loading="lazy" height="56" alt="" class="c-program_image" />
                    <p class="c-program_caption">Score higher on the PCOA® and NAPLEX® have fun
                        while you do it</p>
                </div>
                <div id="w-node-d523f2c3-a156-b008-eaf8-7c2c83df4575-b006e859" class="c-program_feature">
                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/60233736a86b90b765b991cd_books.svg"
                        loading="lazy" height="56" alt="" class="c-program_image" />
                    <p class="c-program_caption">Master complex topics throughout Pharmacy School
                    </p>
                </div>
                <div id="w-node-d523f2c3-a156-b008-eaf8-7c2c83df4579-b006e859" class="c-program_feature">
                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6023373639eea83d51676170_flask.svg"
                        loading="lazy" height="56" alt="" class="c-program_image" />
                    <p class="c-program_caption">Foundational subjects include Microbiology,
                        Pharmacology, Pharmacokinetics and Biochemistry</p>
                </div>
                <div id="w-node-d523f2c3-a156-b008-eaf8-7c2c83df457d-b006e859" class="c-program_feature">
                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/60233736e958308a75cd1703_mortar.svg"
                        loading="lazy" height="56" alt="" class="c-program_image" />
                    <p class="c-program_caption">Pharmacy practice subjects include Biostatistics
                        and Epidemiology, Compounding, Calculations and Primary Care</p>
                </div>
            </div>
            <div class="w-layout-grid c-program_stats">
                <!-- Enter Phone Number Here -->
                <a id="w-node-f0bc4e45-9b37-119a-35b9-8fbce886121e-b006e859"
                    href="/web/20210504080548/https://www.sketchy.com/explore/pharmacy"
                    class="c-primary-btn is--large is--pharm w-button">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>