@namespace SimpleRuleBlazor.Components.HomePage

<div>
    <div class="w-container">
        <div>
            <div class="w-layout-grid block-text-image">
                <img src="images/light-phone-home.webp" alt="Light Phone Lock Screen" class="u-margin-top is--24" />
                <div class="u-margin-y is--48">
                    <h3>79% of users prefer Light Phone for its simplicity</h3>
                    <p class="p-large">Light Phone is built for a distraction-free experience, helping you stay
                        connected without the noise.</p>
                    <p class="p-large">With an intuitive design, it focuses on what matters: essential tools that keep
                        you productive and present. Designed from the ground up to prioritize the user's wellbeing over
                        the wellbeing of a companies stock price. </p>
                    <p class="p-large">Stay in control of your time. With Light Phone and Simple, experience a simple,
                        powerful way to stay connected – free from endless distractions.</p>
                </div>
            </div>
        </div>
    </div>
</div>