@namespace SimpleRuleBlazor.Components.HomePage

<div class="home-hero-desktop">
    <div class="w-container">
        <div class="c-heroheader__top">
            <h1 class="c-herohome-header">
                MAKE. US.<br />YOUR. CONCIERGE.
            </h1>
            <h2 class="c-herohome_subheader">The go-to text message companion for quick-info &amp; useful tools <br />
                while flying light</h2>
            <div class="position-relative">
                <div class="u-flex">
                    <a href="#" data-w-id="ea1fb295-5509-c865-16ea-f1098f663d3c"
                        class="c-primary-btn is--large modal-trigger w-button">START FREE TRIAL</a>
                </div>
                <div class="svg-home_000">
                    <img src="images/swirly-arrow-white.svg" loading="eager" width="200" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-hero-mobile">
    <div class="w-container">
        <div class="c-hero__top">
            <h1 class="c-hero_header">
                MAKE. US.<br /> YOUR> CONCIERGE.
            </h1>
            <h2 class="c-hero_subheader">Your go-to test message companion for quick-info &amp; useful tools <br />
                while flying Light</h2>
            <div class="position-relative">
                <div class="u-flex">
                    <a href="#" data-w-id="d7871bd3-73dc-5e20-249e-b7e6f182b965"
                        class="c-primary-btn is--large modal-trigger w-button">START FREE TRIAL</a>
                </div>
                <div class="svg-home_000">
                    <img src="images/swirly-arrow-white.svg" loading="eager" width="200" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>