<div class="w-tab-content">
    <div data-w-tab="Step 1" class="w-tab-pane w--tab-active">
        <div class="u-padding-y is--24">
            <div class="u-flex is--ver">
                <h3 class="c-program_course">Like Texting Google</h3>
                <h4>
                    JUST TEXT  |  SIMPLE RULE<span class="copyright">®</span>
                </h4>
                <div class="w-layout-grid c-program_features">
                    <div id="w-node-_2ca56d40-3a41-48dc-f69c-ef599d404b6d-b006e859" class="c-program_feature">
                        <img src="images/thumbs-up.svg" loading="lazy" alt="" class="c-program_image" />
                        <p class="c-program_caption">Stay focused and on task, without
                            the usual smartphone distractions</p>
                    </div>
                    <div id="w-node-_2ca56d40-3a41-48dc-f69c-ef599d404b71-b006e859" class="c-program_feature">
                        <img src="images/grad-cap.svg" loading="lazy" alt="" class="c-program_image" />
                        <p class="c-program_caption">Learn on the go with simple SMS
                            access to Simple Rule's service</p>
                    </div>
                    <div id="w-node-_2ca56d40-3a41-48dc-f69c-ef599d404b75-b006e859" class="c-program_feature">
                        <img src="images/bulb-black.svg" loading="lazy" height="56" alt="" class="c-program_image" />
                        <p class="c-program_caption">Get quick, clear answers to
                            questions – no app needed</p>
                    </div>
                    <div id="w-node-_2ca56d40-3a41-48dc-f69c-ef599d404b79-b006e859" class="c-program_feature">
                        <img src="images/microscope.svg" loading="lazy" alt="" class="c-program_image" />
                        <p class="c-program_caption">Effortlessly access information
                            while staying in control of your time</p>
                    </div>
                </div>
                <div class="w-layout-grid c-program_stats">
                    <!-- Enter Phone Number Here -->
                    <a id="w-node-_2ca56d40-3a41-48dc-f69c-ef599d404baf-b006e859"
                        href="/link-not-found/explore_just_text_basic"
                        target="_blank" class="c-primary-btn is--large is--med w-button">LEARN MORE
                        + PRICING</a>
                </div>
            </div>
        </div>
    </div>
</div>