<div>
    <div class="w-container">
        <div class="u-margin-top is--48">
            <h3 class="u-align-center">Choose Your Unplug Motivator</h3>
        </div>
    </div>
    <div class="tab-dropdown">
        <div>Pick a Program</div>
        <img src="images/chevron-down-blue.svg" loading="lazy" alt="" />
    </div>
    <div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
        <div class="c-tabs_menu w-tab-menu">
            <a data-w-tab="Medical" class="c-program_tab_med w-inline-block w-tab-link w--current"
                @onclick=setCurrentPaneMedical>
                <div>
                    <span class="medical">Focus</span>
                </div>
            </a>
            <a data-w-tab="MCAT" class="c-program_tab_mcat w-inline-block w-tab-link" @onclick=setCurrentPaneMcat>
                <div>Time</div>
            </a>
            <a data-w-tab="PA" class="c-program_tab_pa w-inline-block w-tab-link" @onclick=setCurrentPanePa>
                <div>Fatiuge</div>
            </a>
            <a data-w-tab="Pharm" class="c-program_tab_pharm w-inline-block w-tab-link" @onclick=setCurrentPanePharm>
                <div>Melatonin Cycle</div>
            </a>
            <a data-w-tab="Nursing" class="c-program_tab_nursing w-inline-block w-tab-link"
                @onclick=setCurrentPaneNursing>
                <div>Economical</div>
            </a>
        </div>
        
        <div class="u-background-light-blue w-tab-content">
            <div data-w-tab="Medical" class=@medicalClass>
                <div data-w-id="Div Block 4" class="position-relative">
                    <div class="u-margin-y is--48">
                        <div data-duration-in="300" data-duration-out="100" class="u-flex is--ver w-tabs">
                            <div class="c-tabs_med w-tab-menu">
                                <a data-w-tab="Step 1" class=@(showSimple ? fancyBlueClass : simpleBlueClass)
                                    @onclick=toggleShowSimple>
                                    <div>JUST TEXT / BASIC</div>
                                </a>
                                <a data-w-tab="Step 2" class=@(showSimple ? simpleBlueClass : fancyBlueClass)
                                    @onclick=toggleShowSimple>
                                    <div>TEXT + IMAGES / VIP</div>
                                </a>
                            </div>
                            @if (showSimple)
                            {
                                <JustTextBasic />
                            }
                            else
                            {
                                <TextAndImagesVip/>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="svg-home_001">
                <img src="images/dotted-line-blue.svg" loading="eager" width="700" alt="" />
            </div>
            <div class="svg-home_002">
                <img src="images/pluses-07-blue.svg" loading="eager" width="550" alt="" />
            </div>

            <div data-w-tab="MCAT" class=@mcatClass>
               <Mcat/>
            </div>

            <div data-w-tab="PA" class=@paClass>
                <div class="u-padding-y is--32 w-container">
                    <div data-w-id="Div Block 24" class="position-relative">
                        <div class="svg-home_027">
                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b5025094bca50a3d1ac9f_diamond-doodles-03-violet.svg"
                                loading="eager" width="125" alt="" />
                        </div>
                        <div class="svg-home_028">
                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b50251bbe4e70808fc425_diamond-doodles-02-violet.svg"
                                loading="eager" width="125" alt="" />
                        </div>
                        <div data-w-id="Div Block 19" class="u-flex is--ver">
                            <h3 class="c-program_course">PA</h3>
                            <h5>
                                <span class="badge-large is--black">COMING SOON</span>
                            </h5>
                            <div class="u-flex">
                                <div class="c-email_collection">
                                    <h4>Get a promo code when we launch Sketchy PA</h4>
                                    <div class="u-padding-y is--32 w-embed w-script">
                                        <script charset="utf-8" type="text/javascript"
                                            src="//web.archive.org/web/20210504080548js_/https://js.hsforms.net/forms/v2.js"></script>
                                        <script>
                                            hbspt.forms.create({
                                                portalId: "9337792",
                                                formId: "13cd3517-a202-4ad1-986b-825b35dfad78"
                                            });
                                        </script>
                                    </div>
                                    <p class="is--center">Click &quot;Submit &quot;to opt-in to receiving emails about
                                        Sketchy PA</p>
                                </div>
                            </div>
                            <div class="w-layout-grid c-program_features">
                                <div id="w-node-_845dd14f-ba38-5de6-e771-a3beb8e593ee-b006e859"
                                    class="c-program_feature">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602337362a8eeb60b6dcda8c_award.svg"
                                        loading="lazy" height="56" alt="" class="c-program_image" />
                                    <p class="c-program_caption">Crush the PANCE® while having fun and getting smarter
                                    </p>
                                </div>
                                <div id="w-node-_845dd14f-ba38-5de6-e771-a3beb8e593f2-b006e859"
                                    class="c-program_feature">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602337366c6ed069873435ce_star-01.svg"
                                        loading="lazy" height="56" alt="" class="c-program_image" />
                                    <p class="c-program_caption">Excel through through didactics, shine at clinicals</p>
                                </div>
                                <div id="w-node-_845dd14f-ba38-5de6-e771-a3beb8e593f6-b006e859"
                                    class="c-program_feature">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6023373615fe07ebee23cb07_case.svg"
                                        loading="lazy" height="56" alt="" class="c-program_image" />
                                    <p class="c-program_caption">Subjects include: Pharmacology, Internal Medicine,
                                        Surgery, and Pediatrics</p>
                                </div>
                                <div id="w-node-_845dd14f-ba38-5de6-e771-a3beb8e593fa-b006e859"
                                    class="c-program_feature">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/603d943b9c83b219905b3f0a_system-black.svg"
                                        loading="lazy" height="56" alt="" class="c-program_image" />
                                    <p class="c-program_caption">Extensive systems reviews in: Cardiology, pulmonology,
                                        GI, Endocrine, and more</p>
                                </div>
                            </div>
                            <div class="w-layout-grid c-program_stats_02">
                                <!-- Enter Phone Number Here -->
                                <a href="/web/20210504080548/https://www.sketchy.com/explore/pa" target="_blank"
                                    class="c-primary-btn is--large is--pa w-button">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-w-tab="Pharm" class=@pharmClass>
                <div class="u-padding-y is--32 w-container">
                    <div class="position-relative">
                        <div class="svg-home_028">
                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b50b6d490c66a7cb62348_pluses-08-pink.svg"
                                loading="eager" width="200" alt="" />
                        </div>
                        <div class="svg-home_029">
                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b50b632c4a108559e8444_hearts-pink.svg"
                                loading="eager" width="150" alt="" />
                        </div>
                        <div class="u-flex is--ver">
                            <h3 class="c-program_course">PharmD</h3>
                            <h5>
                                <span class="badge-large is--black">COMING SOON</span>
                            </h5>
                            <div class="u-flex">
                                <div class="c-email_collection">
                                    <h4>Get a promo code when we launch Sketchy Pharmacy</h4>
                                    <div class="u-padding-y is--32 w-embed w-script">
                                        <script charset="utf-8" type="text/javascript"
                                            src="//web.archive.org/web/20210504080548js_/https://js.hsforms.net/forms/v2.js"></script>
                                        <script>
                                            hbspt.forms.create({
                                                portalId: "9337792",
                                                formId: "4b2c5734-95c4-4046-afc6-345ffccf21f4"
                                            });
                                        </script>
                                    </div>
                                    <p class="is--center">Click &quot;Submit &quot;to opt-in to receiving emails
                                        about Sketchy Pharmacy</p>
                                </div>
                            </div>
                            <div class="w-layout-grid c-program_features">
                                <div id="w-node-d523f2c3-a156-b008-eaf8-7c2c83df4571-b006e859"
                                    class="c-program_feature">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6023373682cdeb9046a3aabf_star-02.svg"
                                        loading="lazy" height="56" alt="" class="c-program_image" />
                                    <p class="c-program_caption">Score higher on the PCOA® and NAPLEX® have fun
                                        while you do it</p>
                                </div>
                                <div id="w-node-d523f2c3-a156-b008-eaf8-7c2c83df4575-b006e859"
                                    class="c-program_feature">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/60233736a86b90b765b991cd_books.svg"
                                        loading="lazy" height="56" alt="" class="c-program_image" />
                                    <p class="c-program_caption">Master complex topics throughout Pharmacy School
                                    </p>
                                </div>
                                <div id="w-node-d523f2c3-a156-b008-eaf8-7c2c83df4579-b006e859"
                                    class="c-program_feature">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/6023373639eea83d51676170_flask.svg"
                                        loading="lazy" height="56" alt="" class="c-program_image" />
                                    <p class="c-program_caption">Foundational subjects include Microbiology,
                                        Pharmacology, Pharmacokinetics and Biochemistry</p>
                                </div>
                                <div id="w-node-d523f2c3-a156-b008-eaf8-7c2c83df457d-b006e859"
                                    class="c-program_feature">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/60233736e958308a75cd1703_mortar.svg"
                                        loading="lazy" height="56" alt="" class="c-program_image" />
                                    <p class="c-program_caption">Pharmacy practice subjects include Biostatistics
                                        and Epidemiology, Compounding, Calculations and Primary Care</p>
                                </div>
                            </div>
                            <div class="w-layout-grid c-program_stats">
                                <!-- Enter Phone Number Here -->
                                <a id="w-node-f0bc4e45-9b37-119a-35b9-8fbce886121e-b006e859"
                                    href="/web/20210504080548/https://www.sketchy.com/explore/pharmacy"
                                    class="c-primary-btn is--large is--pharm w-button">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-w-tab="Nursing" class=@nursingClass>
                <div class="u-padding-y is--32 w-container">
                    <div class="position-relative">
                        <div class="svg-home_023">
                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b11d779768093335555c2_droplets-01-navy.svg"
                                loading="eager" width="180" alt="" />
                        </div>
                        <div class="svg-home_024">
                            <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b11d727b0736b90bf9839_droplets-02-navy.svg"
                                loading="eager" width="180" alt="" />
                        </div>
                        <div data-w-id="Div Block 21" class="u-flex is--ver">
                            <h3 class="c-program_course is--nursing">Nursing</h3>
                            <div class="w-layout-grid c-program_features">
                                <div id="w-node-_989d1659-1f8d-166d-dd33-60ef5268e7d3-b006e859"
                                    class="c-program_feature">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b427b07395c4bf95c2_alarm-clock.svg"
                                        loading="lazy" width="56" alt="" class="c-program_image" />
                                    <p class="c-program_caption">Learn about Pharmacology with our Sketchy videos in
                                        thirty minutes or less</p>
                                </div>
                                <div id="w-node-_989d1659-1f8d-166d-dd33-60ef5268e7d7-b006e859"
                                    class="c-program_feature">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b40d99675e3fc73fd5_rocket.svg"
                                        loading="lazy" height="56" alt="" class="c-program_image" />
                                    <p class="c-program_caption">Score higher on your Pharmacology tests with less
                                        effort and more fun</p>
                                </div>
                                <div id="w-node-_989d1659-1f8d-166d-dd33-60ef5268e7db-b006e859"
                                    class="c-program_feature">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b418ed69583ec34f08_thermometer.svg"
                                        loading="lazy" height="56" alt="" class="c-program_image" />
                                    <p class="c-program_caption">Master your Pharmacology studies and apply them in
                                        clinical settings</p>
                                </div>
                                <div id="w-node-_989d1659-1f8d-166d-dd33-60ef5268e7df-b006e859"
                                    class="c-program_feature">
                                    <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b3cb15dddd79315333_checkmark.svg"
                                        loading="lazy" height="56" alt="" class="c-program_image" />
                                    <p class="c-program_caption">Take on your QBANK quizzes and prep for your NCLEX®
                                    </p>
                                </div>
                            </div>
                            <div class="w-layout-grid c-program_stats-03">
                                <!-- Enter Phone Number Here -->
                                <a href="/web/20210504080548/https://www.sketchy.com/explore/nursing" target="_blank"
                                    class="c-primary-btn is--large is--nursing w-button">LEARN MORE
                                    + PRICING</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    // UI States
    string medicalClass = "w-tab-pane w--tab-active";
    string mcatClass = "w-tab-pane";
    string paClass = "w-tab-pane";
    string pharmClass = "w-tab-pane";
    string nursingClass = "w-tab-pane";

    void setCurrentPaneMedical()
    {
        // Reset all tab classes to inactive
        medicalClass = "w-tab-pane w--tab-active";
        mcatClass = "w-tab-pane";
        paClass = "w-tab-pane";
        pharmClass = "w-tab-pane";
        nursingClass = "w-tab-pane";
    }

    void setCurrentPaneMcat()
    {
        // Reset all tab classes to inactive
        medicalClass = "w-tab-pane";
        mcatClass = "w-tab-pane w--tab-active";
        paClass = "w-tab-pane";
        pharmClass = "w-tab-pane";
        nursingClass = "w-tab-pane";
    }

    void setCurrentPanePa()
    {
        // Reset all tab classes to inactive
        medicalClass = "w-tab-pane";
        mcatClass = "w-tab-pane";
        paClass = "w-tab-pane w--tab-active";
        pharmClass = "w-tab-pane";
        nursingClass = "w-tab-pane";
    }

    void setCurrentPanePharm()
    {
        // Reset all tab classes to inactive
        medicalClass = "w-tab-pane";
        mcatClass = "w-tab-pane";
        paClass = "w-tab-pane";
        pharmClass = "w-tab-pane w--tab-active";
        nursingClass = "w-tab-pane";
    }

    void setCurrentPaneNursing()
    {
        // Reset all tab classes to inactive
        medicalClass = "w-tab-pane";
        mcatClass = "w-tab-pane";
        paClass = "w-tab-pane";
        pharmClass = "w-tab-pane";
        nursingClass = "w-tab-pane w--tab-active";
    }

    //Code To Toggle First Pane
    bool showSimple = true;
    string fancyBlueClass = "c-tabs_step1 w-inline-block w-tab-link w--current";
    string simpleBlueClass = "c-tabs_step2 w-inline-block w-tab-link";
    void toggleShowSimple()
    {
        showSimple = !showSimple;
    }
}
