<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="global-nav w-nav">
    <div class="global-nav-bar">
        <div class="w-clearfix">
            <a href="https://www.simplerule.co/" aria-current="page" class="brand-2 w-nav-brand w--current">
                <img src="images/simple-ai-logo.svg" loading="lazy" height="28" alt="" class="image" />
            </a>
            <nav role="navigation" class="global-nav-left w-nav-menu">
                <div data-hover="1" data-delay="0" class="dropdown w-dropdown">
                    <div class="global-nav__dropdown w-dropdown-toggle">
                        <div class="w-icon-dropdown-toggle"></div>
                        <div class="nav-dropdown__text">EXPLORE</div>
                    </div>
                    <nav class="dropdown-list w-dropdown-list">
                        <div class="u-flex is--hor align--top justify--left">
                            <div>
                                <div class="global-nav_section">WIRELESS PLANS</div>
                                <a href="/link-not-found/one_dollar_sim_card"
                                    target="_blank" class="global-nav_dropdown_item w-dropdown-link">$1 Simple Sim Card</a>
                                <a href="/link-not-found/five_dollars_month"
                                    target="_blank" class="global-nav_dropdown_item w-dropdown-link">$5 / Month &nbsp;</a>
                                <a href="/link-not-found/ten_dollars_month"
                                    target="_blank" class="global-nav_dropdown_item w-dropdown-link">$10 / Month</a>
                                <a href="/link-not-found/fifteen_dollars_month"
                                    target="_blank" class="global-nav_dropdown_item w-dropdown-link">$15 / Month</a>
                                <a href="/link-not-found/thirty_dollars_month"
                                    target="_blank" class="global-nav_dropdown_item w-dropdown-link">$30 / Month</a>
                                 <a href="/link-not-found/build_your_own_plan"
                                    target="_blank" class="global-nav_dropdown_item w-dropdown-link">Build Your Own!</a>    
                            </div>
                            <div>
                                <div class="global-nav_section">CONCIERGE</div>
                                <a href="/link-not-found/just_text_basic"
                                    target="_blank" class="global-nav_dropdown_item w-dropdown-link">Just Text</a>
                                <a href="/link-not-found/text_and_images_vip"
                                    target="_blank" class="global-nav_dropdown_item w-dropdown-link">Send An Image</a>
                                <a href="/link-not-found/WhatsApp"
                                    target="_blank" class="global-nav_dropdown_item w-dropdown-link">WhatsApp</a>
                                <a href="/link-not-found/photo_email"
                                    target="_blank" class="global-nav_dropdown_item w-dropdown-link">Photo Email</a>
                                <a href="/link-not-found/business_tools"
                                    target="_blank" class="global-nav_dropdown_item w-dropdown-link">Business Tools</a>
                                <a href="/link-not-found/auto_concierge_plus"
                                    target="_blank" class="global-nav_dropdown_item w-dropdown-link">Auto-Concierge Plus</a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div data-hover="1" data-delay="0" class="w-dropdown">
                    <div class="global-nav__dropdown w-dropdown-toggle">
                        <div class="w-icon-dropdown-toggle"></div>
                        <div class="nav-dropdown__text">PHONES</div>
                    </div>
                    <nav class="dropdown-list w-dropdown-list">
                        <div class="global-nav_section">SHOP</div>
                        <a href="/link-not-found/buy_light_phone_II"
                            target="_blank" class="global-nav_dropdown_item w-dropdown-link">Light Phone II</a>
                        <a href="/link-not-found/buy_light_phone_III"
                            target="_blank" class="global-nav_dropdown_item w-dropdown-link">Light Phone III</a>
                        <a href="/link-not-found/buy_Simple_Rule_apparel"
                            target="_blank" class="global-nav_dropdown_item w-dropdown-link">Simple Rule Apparel</a>
                    </nav>
                </div>
            </nav>
            <nav role="navigation" class="global-nav-right w-nav-menu">
                <a data-w-id="b24e9a27-7e5a-9df8-012f-b9b8ff49d6e6" href="#"
                    class="global-nav-link modal-trigger w-inline-block">
                    <div>LOG IN</div>
                </a>
                <a href="#" data-w-id="b24e9a27-7e5a-9df8-012f-b9b8ff49d6e9"
                    class="global-nav-btn modal-trigger w-button">TRY FOR FREE</a>
            </nav>
        </div>
    </div>
</div>