<div data-collapse="medium" data-animation="default" data-duration="400" data-doc-height="1" role="banner"
    class="global-nav_collapsed w-nav">
    <div class="w-container">
        <a href="#" class="brand-2 w-nav-brand">
            <img src="images/simple-ai-logo.svg" loading="lazy" height="28" alt="" class="image" />
        </a>
        <nav role="navigation" class="global-nav_dropdown_item w-nav-menu">
            <div class="global-nav_section">MY SKETCHY</div>
            <a href="#" data-w-id="ac7977d0-114d-d66f-eb7c-a8d2e481fd0e"
                class="global-nav_dropdown_item modal-trigger w-nav-link">Log In</a>
            <a href="#" data-w-id="ac7977d0-114d-d66f-eb7c-a8d2e481fd10"
                class="c-primary-btn is--large modal-trigger w-button">TRY FOR FREE</a>
            <div class="global-nav_section">EXPLORE</div>
            <a href="/link-not-found/explore/medical-pre-clinical"
                target="_blank" class="global-nav_dropdown_item w-nav-link">Medical Pre-Clinical</a>
            <a href="/link-not-found/explore/medical-clinical"
                target="_blank" class="global-nav_dropdown_item w-nav-link">Medical Clinical</a>
            <a href="/link-not-found/explore/mcat"
                target="_blank" class="global-nav_dropdown_item w-nav-link">MCAT</a>
            <a href="/link-not-found/explore/pa"
                target="_blank" class="global-nav_dropdown_item w-nav-link">PA</a>
            <a href="/link-not-found/pharmacy"
                target="_blank" class="global-nav_dropdown_item w-nav-link">Pharmacy</a>
            <a href="/link-not-found/explore/nursing" target="_blank"
                class="global-nav_dropdown_item w-nav-link">Nursing</a>
            <div class="global-nav_section">SHOP</div>
            <a href="/link-not-found/simple_rule_workbooks"
                target="_blank" class="global-nav_dropdown_item w-nav-link">Workbooks</a>
            <a href="/link-not-found/simple_rule_shirts"
                target="_blank" class="global-nav_dropdown_item w-nav-link">Apparel</a>
        </nav>
        <div class="menu-button w-clearfix w-nav-button">
            <div class="global-nav_hamburger w-icon-nav-menu"></div>
        </div>
    </div>
</div>