<div class="w-tab-content">
    <div data-w-tab="Step 2" class="w-tab-pane w--tab-active">
        <div class="u-padding-y is--24">
            <div class="u-flex is--ver">
                <h3 class="c-program_course">Medical</h3>
                <h4>
                    Text &amp; Images  |  SIMPLE RULE<span class="copyright">®</span>
                </h4>
                <div class="w-layout-grid c-program_features">
                    <div id="w-node-_1990f25b-8b51-13af-009a-739964db1a63-b006e859"
                        class="c-program_feature">
                        <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b18cfe6ed3c00ea29de9f_graph.svg"
                            loading="lazy" height="56" alt="" class="c-program_image" />
                        <p class="c-program_caption">Score higher on the USMLE Step 2
                            with dramatically less effort and significantly more fun</p>
                    </div>
                    <div id="w-node-_1990f25b-8b51-13af-009a-739964db1a67-b006e859"
                        class="c-program_feature">
                        <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b18cf178859658fd5de85_grad-cap-02.svg"
                            loading="lazy" height="56" alt="" class="c-program_image" />
                        <p class="c-program_caption">Master your Medical School studies
                            whether in the classroom or on rotations</p>
                    </div>
                    <div id="w-node-_1990f25b-8b51-13af-009a-739964db1a6b-b006e859"
                        class="c-program_feature">
                        <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/602b10b40d99675e3fc73fd5_rocket.svg"
                            loading="lazy" height="56" alt="" class="c-program_image" />
                        <p class="c-program_caption">Mobile-friendly platform allows you
                            to take your studies with you</p>
                    </div>
                    <div id="w-node-_1990f25b-8b51-13af-009a-739964db1a6f-b006e859"
                        class="c-program_feature">
                        <img src="https://web.archive.org/web/20210504080548im_/https://assets.website-files.com/5ff7c807d65e6f24ae2a3369/600f1da7877250587883c9a5_stethoscope.svg"
                            loading="lazy" height="56" alt="" class="c-program_image" />
                        <p class="c-program_caption">Clinical subjects include Internal
                            Medicine, Pediatrics, Surgery, and Ob/Gyn</p>
                    </div>
                </div>
               <div class="w-layout-grid c-program_stats">
                    <!-- Enter Phone Number Here -->
                    <a id="w-node-_2ca56d40-3a41-48dc-f69c-ef599d404baf-b006e859"
                        href="/link-not-found/explore_text_and_images_vip"
                        class="c-primary-btn is--large is--med w-button">LEARN MORE
                        + PRICING</a>
                </div>
            </div>
        </div>
    </div>
</div>