<div class="u-background-blob">
    <div class="w-container">
        <div class="position-relative">
            <div class="u-margin-top is--48 w-clearfix">
                <h3 class="is--center">The Disconnect Movement</h3>
                <div class="svg-home_005">
                    <img src="images/pencil.svg" loading="eager" width="120" alt="" />
                </div>
                <div class="svg-home_004">
                    <img src="images/asterisks.svg" loading="eager" width="120" alt="" />
                </div>
                <div class="svg-home_003">
                    <img src="images/exclamation.svg" loading="eager" width="120" alt="" />
                </div>
                <div class="u-margin-y is--48">
                    <div class="w-layout-grid c-home_features">
                        <div id="w-node-_069eb276-bde9-e9fa-1655-0df8ca4b5657-b006e859"
                            class="u-flex is--hor align--top">
                            <div>
                                <img src="images/number-one.svg" loading="lazy" height="" width="100" alt=""
                                    class="c-feature_num" />
                            </div>
                            <div class="c-feature_desc">
                                <div>
                                    <h5>Ask Anything</h5>
                                    <p class="p-large">Get quick answers through simple texts with Simple Rule. Stay
                                        informed without the need for apps or browsers.</p>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_14e41fa7-3e1f-584c-2ba6-4b69dfe1d96b-b006e859" class="c-landing-video">
                            <img src="images/hand-drawn-light-phone-III.svg" loading="lazy" width="983" height="" alt=""
                                class="z-index is--middle" />
                            <div class="u-video-01">
                                <div class="w-embed">
                                    <video autoplay loop height="81%" width="81%">
                                        <source src="images/thumbs-up.svg" type="video/mp4" />
                                        <source src="images/thumbs-up.svg" type="video/webm" />
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-d6183f5f-62c9-b3bf-bf69-6a82897780d1-b006e859" class="c-landing-video">
                            <img src="images/hand-drawn-light-phone-III.svg" loading="lazy" width="983" height="" alt=""
                                class="z-index is--middle" />
                            <div class="u-video-01">
                                <div class="w-embed">
                                    <video autoplay loop height="81%" width="81%">
                                        <source src="images/thumbs-up.svg" type="video/mp4" />
                                        <source src="images/thumbs-up.svg" type="video/webm" />
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-f36d3382-5504-9feb-a2c9-5b9dd080cb8e-b006e859"
                            class="u-flex is--hor align--top">
                            <div>
                                <img src="images/number-two.svg" loading="lazy" height="" width="100" alt=""
                                    class="c-feature_num" />
                            </div>
                            <div class="c-feature_desc">
                                <div>
                                    <h5>Explore Ideas</h5>
                                    <p class="p-large">From travel tips to cooking hacks, Simple Rule responds with
                                        easy-to-understand advice, straight to your Light Phone.</p>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_285c61b6-2b94-38a7-7d1b-3ad71f83a201-b006e859"
                            class="u-flex is--hor align--top">
                            <div>
                                <img src="images/number-three.svg" loading="lazy" height="" width="100" alt=""
                                    class="c-feature_num" />
                            </div>
                            <div class="c-feature_desc">
                                <h5>Stay Focused</h5>
                                <p class="p-large">No distractions – just the info you need, when you need it. Enjoy a
                                    streamlined experience that respects your time and attention.</p>
                            </div>
                        </div>
                        <div id="w-node-f5e3d155-3717-bceb-0ac8-ec6a8418b8ba-b006e859" class="c-landing-video">
                            <img src="images/hand-drawn-light-phone-III.svg" loading="lazy" width="983" height="" alt=""
                                class="z-index is--middle" />
                            <div class="u-video-01">
                                <div class="w-embed">
                                    <video autoplay loop height="81%" width="81%">
                                        <source src="images/thumbs-up.svg" type="video/mp4" />
                                        <source src="images/thumbs-up.svg" type="video/webm" />
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>